[submodule "Nebula/3rd-party/spdlog"]
	path = Nebula/3rd-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Nebula/3rd-party/glfw"]
	path = Nebula/3rd-party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Nebula/3rd-party/imgui"]
	path = Nebula/3rd-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Nebula/3rd-party/glm"]
	path = Nebula/3rd-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "Nebula/3rd-party/yaml-cpp"]
	path = Nebula/3rd-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Nebula/3rd-party/taskflow"]
	path = Nebula/3rd-party/taskflow
	url = https://github.com/taskflow/taskflow.git
